<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Schema</title>

  <!-- Custom fonts for this template-->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">

</head>
<body id="page-top">
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/mermaid/mermaid.js"></script>

<script>
//var services = {};
//$.getJSON("/api/workspace/{{ wsname }}/systems", function( json ) {
//	services = new Map(Object.entries(json));
//});

var config = {
	startOnLoad:true,
	htmlLabels:true,
	securityLevel: 'loose',
	maxTextSize: 300000,
	noteMargin: 10,
	flowchart:{
		useMaxWidth:false,
	}
};
mermaid.initialize(config);
mermaid.parseError = function(err,hash){  console.log(err);};

var nodeClick = function(id_service) {
	$.getJSON("/api/workspace/{{ wsname }}/system/"+id_service, function( system ) {
		if(system.id) {
			$("#block-name").html(system.name);
			if(system.description) {
				$("#block-description").html("Описание: " + system.description);
			} else {
				$("#block-description").html("");
			}
			$("#block-dialink").html("<a href=\"/workspace/{{ wsname }}/dia/service/"+id_service+"\" target=_blank>Схема сервиса</a>");
			$("#block-link").html("<a href=\"/workspace/{{ wsname }}/system/"+id_service+"\" target=_blank>"+system.name+"</a>");
			$("#block-linkwiki").html("<a href=\""+system.link+"\" target=_blank>Wiki</a>");
			$("#block-swagger").html("<a href=\""+system.swagger+"\" target=_blank>Swagger</a>");
		}
		$("#block-dlg").modal();
	});	
}
</script>
<div class="modal" tabindex="-1" role="dialog" id="block-dlg">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<h5 class="modal-title" id="block-name"></h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body">
		<p id="block-description"></p>
		<p id="block-link"></p>
		<p id="block-linkwiki"></p>
		<p id="block-swagger"></p>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	  </div>
	</div>
  </div>
</div>
<div class="mermaid" id="{{ dia_id }}">
{{ dia_scheme }}
</div>
</body>
