<!-- Nav Item - Collapse Menu Help -->
<li class="nav-item">
	<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseHelp"
		aria-expanded="true" aria-controls="collapseHelp">
		<i class="fas fa-fw fa-question-circle"></i>
		<span>Помощь</span>
	</a>
	<div id="collapseHelp" class="collapse" aria-labelledby="headingHelp"
		data-parent="#accordionSidebar">
		<div class="bg-white py-2 collapse-inner rounded">
			<h6 class="collapse-header">Справочник:</h6>
			<a class="collapse-item" href="/legend">Легенда</a>
			<a class="collapse-item" href="/patterns">Шаблоны</a>
		</div>
	</div>
</li>
