{% include "base/header.html" %}

<div id="wrapper">

	{% include "base/menu.html" %}

	<!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column">

		<!-- Main Content -->
		<div id="content">
		{% include "base/navbar.html" %}

<div class="container-fluid">

<h1>Сервис: {{ service.name }}</h1>

<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h3 class="m-0 font-weight-bold text-primary" id="content">Содержание</h3>
	</div>
	<div class="card-body">
      <div class="card shadow mb-4">
		<ul>
		  <li><a href="#about">О сервисе</a></li>
		  <li><a href="#fsd">Функциональные требования</a></li>
		  <li><a href="#input">Источники данных</a></li>
		  <li><a href="#output">Потребители данных</a></li>
		  <li><a href="#swaggers">Swaggers</a></li>
		  <li><a href="#api">API сервиса</a></li>
		  <li><a href="#ups">КД сервиса</a></li>
		  <li><a href="#schemaiframe">Схема</a></li>
		</ul>
	  </div>
   </div>
</div>

<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary" id="about">О сервисе</h6>
	</div>
	<div class="card-body">
      <div class="card shadow mb-4">

<table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
	<thead>
		<tr>
			<th>Параметр</th>
			<th>Значение</th>
		</tr>
	</thead>
<tbody>
	<tr>
		<td>Описание сервиса</td>
		<td>{{ service.description }}</td>
	</tr>
	<tr>
		<td>Описание сервиса</td>
		<td><a href="{{ service.link }}" target=_blank>Wiki</a></td>
	</tr>
	<tr>
		<td>Описание API</td>
		{% if service.swagger|length %}
		  <td><a href="{{ service.swagger }}" target=_blank>Swagger</a></td>
		{% else %}
		  <td>&#128533;</td>
		{% endif %}
	</tr>
	<tr>
		<td>Максимальное количество запросов в секунду</td>
		<td>{{ service['max-rps'] }}</td>
	</tr>
	<tr>
		<td>Максимально допустимое количество запросов в секунду</td>
		<td>{{ service['max-rps-high'] }}</td>
	</tr>
	<tr>
		<td>Пиковое время ответа для 99% запросов, мс</td>
		<td>{{ service['rt99'] }}</td>
	</tr>
	<tr>
		<td>Пиковое время ответа для 95% запросов, мс</td>
		<td>{{ service['rt95'] }}</td>
	</tr>
	<tr>
		<td>Доля запросов выполненных с ошибками 5xx, %</td>
		<td>{{ service['5xx'] }}</td>
	</tr>

</tbody>
</table>
     
     </div>
   </div>
</div>



<!-- DataTales  -->
<script>
// Call the dataTables jQuery plugin
$(document).ready(function() {
  $('#dataTableFSD').DataTable();
  $('#dataTableIN').DataTable();
  $('#dataTableOUT').DataTable();
  $('#dataTableAPI').DataTable();
});
</script>

{% with table_title='FSDs', table_id='fsd_services', table_rows=fsd %}
  {% include "components/table_fsds.html" %}
{% endwith %}

{% with table_title='Источники данных', table_id='input', table_rows=links_from, service_name='service_to' %}
  {% include "components/table_servicelinks.html" %}
{% endwith %}

{% with table_title='Потребители данных', table_id='output', table_rows=links_to, service_name='service_to' %}
  {% include "components/table_servicelinks.html" %}
{% endwith %}
            


                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary" id="swaggers">Swaggers</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Version</th>
                                            <th>Plan</th>
                                            <th>Fact</th>
                                            <th>Link</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Version</th>
                                            <th>Plan</th>
                                            <th>Fact</th>
                                            <th>Link</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
{% for i, item in swaggers %}
                                        <tr>
                                            <td><a href="/swaggers/{{ item.id }}.html">{{ item.service }}</a></td>
                                            <td>{{ item.version }}</td>
                                            <td>{{ item.plan }}</td>
                                            <td>{{ item.fact }}</td>
                                            <td>{{ item.link }}</td>
                                        </tr>
{% endfor %}
                                        
                                    </tbody>
                                </table>
                    </div>
              </div>
            </div>


                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary" id="api">API</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTableAPI" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>API</th>
                                            <th>Method</th>
                                            <th>Description</th>
                                            <th>Status</th>
                                            <th>Link</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>API</th>
                                            <th>Method</th>
                                            <th>Description</th>
                                            <th>Status</th>
                                            <th>Link</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
{% for i, item in service_api %}
                                        <tr>
                                            <td><a href="/api/{{ item.linkin }}.html">{{ item.api }}</a></td>
                                            <td>{{ item.method }}</td>
                                            <td>{{ item.description }}</td>
                                            <td>{{ item.status }}</td>
                                            <td><a href="{{ item.link }}" target=_blank>Wiki</a></td>
                                        </tr>
{% endfor %}
                                        
                                    </tbody>
                                </table>
                    </div>
              </div>
            </div>

{% with table_title='Список КД', table_id='ups', table_rows=ups %}
  {% include "components/table_ups.html" %}
{% endwith %}
            
{% with dia_path='service', dia_id=service.id, dia_name=service.name, print_png=true %}
  {% include "components/diagram.html" %}
{% endwith %}
		</div>


		</div>
		<!-- End of Main Content -->

	</div>
	<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

{% include "base/footer.html" %}
