{% include "base/header.html" %}

<div id="wrapper">

	{% include "base/menu.html" %}

	<!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column">

		<!-- Main Content -->
		<div id="content">
		{% include "base/navbar.html" %}

<div class="container-fluid">


<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary" id="about">{{ up.name }}</h6>
	</div>
	<div class="card-body">
      <div class="card shadow mb-4">

<table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
	<thead>
		<tr>
			<th>Параметр</th>
			<th>Значение</th>
		</tr>
	</thead>
<tbody>
	<tr>
		<td>Наименование доработки</td>
		<td>{{ up.name }}</td>
	</tr>
	<tr>
		<td>Описание</td>
		<td>{{ up.description }}</td>
	</tr>
	<tr>
		<td>Ссылка на описание</td>
		<td><a href="{{ up.url }}" target=_blank>&ggg;</a></td>
	</tr>
	<tr>
		<td>API</td>
		<td>{{ up['swagger-api'] }}</td>
	</tr>
	<tr>
		<td>Метод</td>
		<td>{{ up['swagger-api-method'] }}</td>
	</tr>
	<tr>
		<td>Описание API</td>
		<td>{{ up['swagger-api-description'] }}</td>
	</tr>
	<tr>
		<td>Максимальное количество запросов в секунду</td>
		<td>{{ up['max-rps'] }} / {{ up['max-rps-calc'] }}</td>
	</tr>
	<tr>
		<td>Максимально допустимое количество запросов в секунду</td>
		<td>{{ up['max-rps-high'] }} / {{ up['max-rps-high-calc'] }}</td>
	</tr>
	<tr>
		<td>Пиковое время ответа для 99% запросов, мс</td>
		<td>{{ up['rt99'] }} / {{ up['rt99-calc'] }}</td>
	</tr>
	<tr>
		<td>Пиковое время ответа для 95% запросов, мс</td>
		<td>{{ up['rt95'] }} / {{ up['rt95-calc'] }}</td>
	</tr>
	<tr>
		<td>Доля запросов выполненных с ошибками 5xx, %</td>
		<td>{{ up['5xx'] }} / {{ up['5xx-calc'] }}</td>
	</tr>
</tbody>
</table>
     
     </div>
   </div>
</div>

{% with table_title='Входные параметры', table_id='api-parameters', table_rows=up['swagger-api-parameters'] %}
  {% include "components/table_up_api_parameters.html" %}
{% endwith %}

{% with table_title='Выходные данные', table_id='api-responses', table_rows=up['swagger-api-responses'] %}
  {% include "components/table_up_api_response.html" %}
{% endwith %}

{% with dia_path='up', dia_id=up.id, dia_name=up.name, print_png=false %}
  {% include "components/diagram.html" %}
{% endwith %}

{% with table_title='Последовательность действий', table_id='sequence', table_rows=up['sequence'] %}
  {% include "components/table_sequence.html" %}
{% endwith %}

		</div>
		<!-- End of Main Content -->

	</div>
	<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

{% include "base/footer.html" %}
