{% if item['properties']|length %}
		<tr>
			<td colspan=4>

<table class="table table-bordered" id="dataTable-111" width="100%" cellspacing="0">
	<thead>
		<tr>
			<th>Наименование</th>
			<th>Тип</th>
			<th>Описание</th>
			<th>Пример</th>
		</tr>
	</thead>
	<tbody>

	{% for it, itr in item['properties'].items() %}
		<tr>
			<td>{{ it }}</td>
			<td>{{ itr.type }}</td>
			<td>{{ itr.description }}</td>
			<td>{{ itr.example }} {{itr}}</td>
		</tr>
		{% if itr['properties']|length %}

			{% with table_id='api-responses-'+md5(it+itr.description), item=itr %}
			  {% include "components/api_struct_properties.html" %}
			{% endwith %}
		
		{% endif %}

	{% endfor %}
	</tbody>
</table>
	
			</td>
		</tr>
{% endif %}
