<!-- BEGIN DataTables  '{{ table_title }}' -->
<script>
// Call the dataTables jQuery plugin
$(document).ready(function() {
  $('#dataTable-{{ table_id }}').DataTable();
});
</script>


<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">{{ table_title }}</h6>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable-{{ table_id }}" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Идентификатор</th>
						<th>Имя</th>
						<th>Описание</th>
						<th>Тип</th>
						<th>Тэги</th>
						<th>Слой</th>
						<th>Статус</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Идентификатор</th>
						<th>Имя</th>
						<th>Описание</th>
						<th>Тип</th>
						<th>Тэги</th>
						<th>Слой</th>
						<th>Статус</th>
					</tr>
				</tfoot>
				<tbody>
{% for i, item in table_rows %}
					<tr>
						<td>{{ item.id }}</td>
						<td><a href="/workspace/{{ wsname }}/service/{{ item.id }}">{{ item.name }}</a></td>
						<td>{{ item.description }}</td>
						<td>{{ item.type }}</td>
						<td>
							{% for tag in item.tags %}
							  <a href="/workspace/{{ wsname }}/tag/{{ tag }}">{{ tag }}</a>,
							{% endfor %}
						</td>
						<td>{{ item.layer }}</td>
						<td>{{ item.status }}</td>
{% endfor %}
					
				</tbody>
			</table>
		</div>
  </div>
</div>
<!-- END DataTables  '{{ table_title }}' -->
