<!-- BEGIN DataTables  '{{ table_title }}' -->
{% if table_rows|length %}
<script>
// Call the dataTables jQuery plugin
//$(document).ready(function() {
//  $('#dataTable-{{ table_id }}').DataTable();
//});
</script>

{% set typeReq = dict() %}
{% set ok = typeReq.update({'request': 'Запрос'}) %}
{% set ok = typeReq.update({'answer': 'Ответ'}) %}

<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">{{ table_title }}</h6>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable-{{ table_id }}" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Шаг</th>
						<th>От сервиса</th>
						<th>Запрос к сервису</th>
						<th>Описание</th>
						<th>Вызываемое API</th>
						<th>Ответ</th>
						<th>Тип</th>
						<th>Параллельное выполнение</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Шаг</th>
						<th>От сервиса</th>
						<th>Запрос к сервису</th>
						<th>Описание</th>
						<th>Вызываемое API</th>
						<th>Ответ</th>
						<th>Тип</th>
						<th>Параллельное выполнение</th>
					</tr>
				</tfoot>
				<tbody>
{% for item in table_rows %}
					<tr>
						<td>{{ loop.index }}</td>
						<td><a href="/service/{{ item.from }}.html">{{ item.from }}</a></td>
						<td><a href="/service/{{ item.to }}.html">{{ item.to }}</a></td>
						<td>{{ item.description }}</td>
						<td>{{ item.api }}</td>
						<td>{{ item.answer }}</td>
						<td>{{ typeReq[item.type] }}</td>
						<td>{{ item['parallel-start'] }}{{ item['parallel-and'] }}</td>
					</tr>
{% endfor %}
					
				</tbody>
			</table>
		</div>
  </div>
</div>
{% endif %}
<!-- END DataTables  '{{ table_title }}' -->
