<!-- BEGIN DataTables  '{{ table_title }}' -->
{% if table_rows|length %}
<script>
// Call the dataTables jQuery plugin
//$(document).ready(function() {
//  $('#dataTable-{{ table_id }}').DataTable();
//});
</script>

{% set typeReq = dict() %}
{% set ok = typeReq.update({'request': 'Запрос'}) %}
{% set ok = typeReq.update({'answer': 'Ответ'}) %}

<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">{{ table_title }}</h6>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable-{{ table_id }}" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Шаг</th>
						<th>От сервиса</th>
						<th>Тип</th>
						<th>К сервису</th>
						<th>Описание</th>
						<th>Вызываемое API</th>
						<th>Ответ</th>
						<th>Параллельное выполнение</th>
						<th>Условие</th>
					</tr>
				</thead>
				<tbody>
{% for item in table_rows %}
					<tr>
						<td>{{ loop.index }}</td>
						<td><a href="/service/{{ item.from }}.html">{{ item.from }}</a></td>
						<td>{{ typeReq[item.type] }}</td>
						<td><a href="/service/{{ item.to }}.html">{{ item.to }}</a></td>
						<td>{{ item.description }}</td>
						<td>{{ item.api }}</td>
						<td>{{ item.answer }}</td>
						<td>
							{{ item['parallel-start'] }}
							{{ item['parallel-and'] }}
							{% if item['parallel-finish'] %}
							Завершение блока
							{% endif %}
						</td>
						<td>
							{% if item['alt-if']|length %}
							ЕСЛИ: {{ item['alt-if'] }}
							{% endif %}
							{% if item['alt-else']|length %}
							ИНАЧЕ: {{ item['alt-else'] }}
							{% endif %}
							{% if item['alt-end'] %}
							{{ item['alt-end'] }}
							{% endif %}
							{% if item['opt-if']|length %}
							ЕСЛИ: {{ item['opt-if'] }}
							{% endif %}
							{% if item['opt-end'] %}
							Завершение "ЕСЛИ"
							{% endif %}
						</td>
					</tr>
{% endfor %}
					
				</tbody>
			</table>
		</div>
  </div>
</div>
{% endif %}
<!-- END DataTables  '{{ table_title }}' -->
